<div class="profile-settings-container">
  <!-- Sidebar -->
  <app-doc-sidebar></app-doc-sidebar>

  <!-- Main Content -->
  <div class="content">
    <div class="header">
      <p>My Appointments</p>
    </div>

    <div class="table-container">
      <table class="styled-table">
        <thead>
          <tr>
            <th>Patient</th>
            <th>Email</th>
            <th>Day</th>
            <th>Time</th>
            <th>Submission date</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of paginatedAppointments">
            <td>
              <div class="patient-info">
                <span class="doctor-name">{{ appointment.patient?.name }}</span>
              </div>
            </td>
            <td class="doctor-email">{{ appointment.patient?.email }}</td>
            <td>{{ appointment.date }}</td>
            <td>{{ appointment.time }}</td>
            <td>{{ appointment.fullDate }}</td>
            <td>
              <span
                class="status"
                [ngClass]="{
                  'status-accepted': appointment.status === 'ACCEPTED' && !appointment.canceled,
                  'status-rejected': appointment.status === 'REJECTED',
                  'status-pending': appointment.status === 'PENDING',
                  'status-canceled': appointment.canceled
                }"
              >
                {{ appointment.canceled ? 'CANCELED' : appointment.status }}
              </span>
            </td>
            
            <td>
              <ng-container *ngIf="!appointment.canceled">
                <button
                  *ngIf="appointment.status === 'PENDING'"
                  class="btn accept-btn"
                  (click)="acceptAppointment(appointment.id)"
                >
                  Accept
                </button>
                <button
                  *ngIf="appointment.status === 'PENDING'"
                  class="btn reject-btn"
                  (click)="rejectAppointment(appointment.id)"
                >
                  Reject
                </button>
              </ng-container>
              <span *ngIf="appointment.canceled" class="text-muted">This appoitments has been canceled by patient</span>
            </td>
            
          </tr>
        </tbody>
      </table>

      <div class="pagination-controls">
        <button (click)="changePage(-1)" [disabled]="currentPage === 1">
          Previous
        </button>
        <span>Page {{ currentPage }}</span>
        <button
          (click)="changePage(1)"
          [disabled]="currentPage * pageSize >= appointments.length"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>
