<div class="dashboard-container">
  <!-- Sidebar -->
  <div class="sidebar">

    <img  class="logo" src="../../assets/imgs/capes.png" alt="Profile Picture" />
    <ul class="menu">
      <li routerLink="/appointment" routerLinkActive="active"><i class="fas fa-user-md"></i> Doctors</li>
      <li routerLink="/posts" routerLinkActive="active"><i class="fas fa-calendar-alt"></i> Community</li>
      <li routerLink="/chat" routerLinkActive="active"><i class="fas fa-comments"></i> AI Assistant</li>
      <!-- <li routerLink="/appointment" routerLinkActive="active"><i class="fas fa-chart-bar"></i> Reports</li> -->
    </ul>
  </div>

  <!-- Main Content -->
  <div class="content">
    <div class="header">
      <h1>Our Doctors</h1>
      <div class="filter">
        <label>Filter by Speciality:</label>
        <select [(ngModel)]="selectedSpecialty">
          <option value="">All</option>
          <option *ngFor="let doctor of availableDoctors" [value]="doctor.specialty">
            {{ doctor.specialty }}
          </option>
        </select>
      </div>

      <div class="filter">
        <label>Search by Name:</label>
        <input type="text" [(ngModel)]="searchName" placeholder="Enter doctor name" />
      </div>
    </div>

<!-- Doctors List -->
<div class="doctors-grid">
  <div *ngFor="let doctor of filteredDoctors" class="doctor-card">
    <div class="doctor-avatar-container">
      <img class="doctor-avatar" *ngIf="doctor.imgUrl" [src]="doctor.imgUrl" alt="Doctor Avatar" />
      <div class="specialty-badge">{{ doctor.specialty }}</div>
    </div>
    <div class="doctor-info">
      <h5 class="doctor-name">{{ doctor.username }}</h5>
      <p class="doctor-specialty">{{ doctor.specialty }}</p>
      <button class="btn-book" routerLink="/docprofile/{{ doctor.id }}">
        Book Appointment
      </button>
    </div>
  </div>
</div>

<!-- Pagination Controls -->
<div class="pagination">
  <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
</div>

  </div>
</div>
